<div>
    <heading>
        <span slot="title">Menu Group Editor</span>
        <span slot="help"><link-help docKey="admin.menu.menu_groups.editor" /></span>
        <li><router-link :to="{ name: 'menuGroups' }">Menu Group Manager</router-link></li>
        <li>{{ menuGroup.name }}</li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <tab></tab>
            </div>
        </div>
    </section>
</div>