<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'menuGroups.edit'}">
        <router-link :to="{ name: 'menuGroups.edit', params: {menuGroupId: $route.params.menuGroupId}}"><span class="hidden-sm hidden-xs">Main</span> <i class="fa fa-home visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'menuItems'}">
        <router-link :to="{ name: 'menuItems', params: {menuGroupId: $route.params.menuGroupId}}">Items</router-link>
    </li>
</ul>