<div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li :class="{active: $router.currentRoute.name == 'menuItems.edit'}">
                    <router-link :to="{ name: 'menuItems.edit', params: {menuGroupId: $route.params.menuGroupId, menuItemId: morphable_id}}">Menu Item</router-link>
                </li>
                <li :class="{active: $router.currentRoute.name == 'menuItems.params'}">
                    <router-link :to="{ name: 'menuItems.params', params: {menuGroupId: $route.params.menuGroupId, menuItemId: morphable_id}}">Params</router-link>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <edit v-show="menuItem.id"></edit>
        </div>
    </div>
</div>